



<jhi-page-ribbon></jhi-page-ribbon>

<div id="wrapper" [ngClass]="{'toggled': isSideBarOpen }">

     <jhi-sidebar></jhi-sidebar>

    <div>
        <router-outlet name="navbar"></router-outlet>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper" (click)="closeSidebar()">
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
            <jhi-footer></jhi-footer>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <jhi-fab-add></jhi-fab-add>
</div>
<!-- /#wrapper -->

<div id="overlay" [ngClass]="{'toggled': isSideBarOpen }" (click)="closeSidebar()"></div>


